<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Movie Id</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            <th scope="row">1</th>
            <td>{{title}}</td>
            <td>{{year}}</td>
            <td>{{movieId}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>